<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 mx-auto my-3">
            <h1 class="text-center d-none d-sm-block">ガチャ確率計算機</h1>
            <h2 class="text-center d-xs-block d-sm-none">ガチャ確率計算機</h2>
            <!-- タブ部分 -->
            <nav class="mt-3">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-calcprob-tab" data-toggle="tab" href="#nav-calcprob" role="tab" aria-controls="nav-calcprob"
                        aria-selected="true">確率計算</a>
                    <a class="nav-item nav-link" id="nav-testprob-tab" data-toggle="tab" href="#nav-testprob" role="tab" aria-controls="nav-testprob"
                        aria-selected="false">確率推定</a>
                </div>
            </nav>

            <!-- パネル部分 -->
            <div class="tab-content" id="nav-tabContent">

                <!-- 確率計算 -->
                <div class="tab-pane active border-right border-bottom border-left pt-3" id="nav-calcprob" role="tabpanel" aria-labelledby="nav-calcprob-tab">
                    <app-calc-prob></app-calc-prob>
                </div>

                <!-- 確率推定 -->
                <div class="tab-pane border-right border-bottom border-left pt-3" id="nav-testprob" role="tabpanel" aria-labelledby="nav-testprob-tab">
                    <app-test-prob></app-test-prob>
                </div>
            </div>
        </div>
    </div>
</div>