<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 mx-auto my-3">
            <h1 class="text-center d-none d-sm-block">ガチャ確率計算機</h1>
            <h2 class="text-center d-xs-block d-sm-none">ガチャ確率計算機</h2>
            <div class="my-3 border py-3">
                <form>
                    <div class="form-group px-3">
                        <label for='dropPer'>ドロップ率(％)</label>
                        <input type='text' class="form-control" id="dropPer" placeholder="ドロップ率(％)" name='dropPer' [(ngModel)]='dropPer'>
                        <small class="text-danger">
                            <strong>{{dropPerError}}</strong>
                        </small>
                    </div>
                    <div class="form-group px-3">
                        <label for='gachaCount'>ガチャ回数</label>
                        <input type='text' class="form-control" id='gachaCount' placeholder="パスワード" name='gachaCount' [(ngModel)]='gachaCount'>
                        <small class="text-danger">
                            <strong>{{gachaCountError}}</strong>
                        </small>
                    </div>
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary ml-auto mr-1">＋10回</button>
                        <button type="button" class="btn btn-primary mx-1">－10回</button>
                        <button type="button" class="btn btn-primary mx-1">＋1回</button>
                        <button type="button" class="btn btn-primary ml-1 mr-auto">－1回</button>
                    </div>
                </form>
            </div>
            <div class="my-3 border py-3">
                <ul>
                    <li>1回以上成功する確率：{{anySuccessPer}}％</li>
                    <li>全て失敗する確率：{{allFailPer}}％</li>
                    <div *ngFor="let perOfAnySuccess of perList">
                        <li>{{perOfAnySuccess}}％成功する回数：{{anySuccessCount(perOfAnySuccess)}}</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>